.services {
    font-family: $fontSecondary;
    .inner {
        @include clearfix;
        article {
            @include displayFlex;
            @include clearfix;
            float: left;
            width: calc(100% / 3);
            padding-top: 50px;
            .numero {
                font-size: 175px;
                font-weight: $black;
                line-height: 0.75em;
            }
            .numero, aside {
                float: left;
            }
            aside {
                padding-left: 5px;
                width: 100%;
                position: relative;
            }
            .nom_service {
                @extend %h2;
            }
            .service_plus {
                position: absolute;
                bottom: 0;
                left: 35%;
                @extend %btn-plus;
            }
            .plus {
                font-size: 55px;
            }
        }
    }
}

.imageFull {
    .image-full-service {
        height: 635px;
        background-position: center;
        background-repeat: no-repeat;
    }
    margin-top: 25px;
    margin-bottom: 55px;
}

.arsenalWeb {
    .titre-arsenal {
        font-size: 35px;
        font-weight: $bold;
        font-family: $fontSecondary;
        margin-bottom: 20px;
    }
    .service-arsenal {
        @extend %clearfix;
        .num-service-arsenal, .titre-service-arsenal {
            float: left;
        }
        .num-service-arsenal {
            font-family: $fontSecondary;
            font-weight: $black;
            font-size: 75px;
            margin-right: 40px;
        }
        .titre-service-arsenal {
            margin-top: 25px;
        }
    }
    .btn {
        margin-top: 40px;
    }
}
