.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .col {
        width: calc((100% - #{$colGutter}) / #{$colNb});
    }
    .col2 {
        width: calc((100% - 146px) / 2);
    }
    .col3 {
        width: calc((100% - 60px) / 3);
    }
}
