@mixin font($size:false, $family:false, $weight:false, $transform:false, $color:false, $lh:false, $style:false, $deco:false) {
	@if $family { font-family: $family; }
	@if $size { font-size: $size; }
	@if $weight { font-weight: $weight; }
	@if $transform { text-transform: $transform; }
	@if $color { color: $color; }
	@if $lh { line-height: $lh; }
	@if $style { font-style: $style; }
	@if $deco { text-decoration: $deco; }
}

@mixin headings($to: 4, $from: 1)
{
  @for $i from $from through $to{
    h#{$i}{
      @content;
    }
  }
}
